* {
    border: 2px red solid;
}

html {
    min-height: 100%;
    position: relative;
}

main{
    background-color: #bad7b5;
    margin-bottom: 300px;
    padding-bottom: 300px;
    min-height: 1500px;
}

header {
    font-size: 4vw;
    background-color:#eee8cd
}

.col-center {
    float: none;
    margin: 0 auto;
}
.izquierdo{
    min-height: 1500px;
    background-color: #dac56f;
}
.derecho{
    min-height: 1500px;
    background-color: #dac56f;
}
footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    color: white;
    margin-top: 300px;
    
}