/**{
    border:2px red solid;
}*/
body{
    max-width: 100%;
}
.container{
    width: 1000px;
    height: 700px;
}
main{
    height: 700px;
}
header{font-size: 4vw;}

.col-center{
    float: none;
    margin: 0 auto;
}